name: Update Currency Rates

on:
  schedule:
    - cron: '*/10 * * * *'  # بیدار شدن خودکار هر 10 دقیقه
  workflow_dispatch:        # دکمه اجرای دستی

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests telethon beautifulsoup4 lxml

      - name: Run fetch script
        env:
          API_ID: ${{ secrets.API_ID }}
          API_HASH: ${{ secrets.API_HASH }}
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
        run: python main.py

      - name: Commit and push changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add last_rates.json
          git commit -m "Update rates" || exit 0
          git push
